.week-layout {

  &__header {
    width: 875px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
  }

  &__body {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    height: 100%;
  }

  &__aside {
    flex: .15;
    background: #fafafa;
  }

  &__article {
    flex: 1.85;
  }

}

.aside {

  &__static-time-element {
    display: block;
    padding-top: 100px;
    text-align: end;
    padding-right: .5rem;
    height: 100px;
  }

}

.article {

  &__header{
    width: 875px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    //align-items: center;
  }

  &__week-days {
    display: flex;
  }

  &__week-day {
    width: 125px;
    height: 50px;
    display: flex;
    background: #fafafa;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
  }

  &__grid {
    display: flex;
  }

  &__rows, &__columns  {
    width: 125px;
    height: 100px;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
  }

}

.actions {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.static-days {

}
