<section class="calendar-layout">
  <section class="container">

    <header class="calendar-layout__header">
      <nav class="calendar-layout__navigation">
        <ul class="calendar-layout__menu">
          <li class="calendar-layout__list">
            <a class="calendar-layout__link"
              [routerLink]="['/calendar/day']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >Day</a>
          </li>
          <li class="calendar-layout__list">
            <a class="calendar-layout__link"
              [routerLink]="['/calendar/week']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >Week</a>
          </li>
          <li class="calendar-layout__list">
            <a class="calendar-layout__link"
              [routerLink]="['/calendar/month']" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
            >Month</a>
          </li>
        </ul>
      </nav>

      <section class="calendar-layout__date">
        <button class="calendar-layout__date-element" (click)="changeMonth(-1)">prev</button>
        <section class="calendar-layout__date-element title">
          {{ currentMonth$ | async | titlecase }}
        </section>
        <button class="calendar-layout__date-element" (click)="changeMonth(1)">next</button>
      </section>

      <section class="calendar-layout__actions">
        <button class="calendar-layout__actions" (click)="toggleModal()">Create</button>
      </section>
    </header>

    <main class="calendar-main__body">
      <router-outlet></router-outlet>
    </main>
  </section>
</section>
