.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    //padding: 1rem;
    //width: 600px;
    //height: 500px;
    //background-color: white;
    //border-radius: 5px;
  }

}
