<section class="month-layout">

  <main class="month-layout__body">
    <section class="month-layout__calendar calendar">
      <header class="calendar__header">
        <section class="calendar__week-days">
          <section
            class="calendar__week-day"
            *ngFor="let day of staticWeekDays">
            {{ day }}
          </section>
        </section>
      </header>

      <main class="calendar__grid">
        <section
          class="calendar__day"
          *ngFor="let day of (calendar$ | async); let i = index"
          [ngClass]="{
            notEmpty: day.events.length !== 0,
            currentDay: day.current,
            normalDay: !day.padding
          }">
          {{  day.value  }}
        </section>
      </main>
    </section>
  </main>

</section>